body {
    margin: 0;
}

header {
    display: grid;
}

.header--container {
    display: inline-grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 50%;
    position: absolute;
   
}

.header--title {
    position: relative;
    justify-self: center;
}